<a href="https://colab.research.google.com/github/Dhruv36/knn-classification-from-scratch/blob/main/Knn_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random 
import numpy as np

In [ ]:
# A) Randomly dividing dataset into debelopment and test set.

data = pd.read_csv("iris_data.csv")

def train_test_split(data, split_value = 0.7):
    cols = list(data.columns)[0]
    t = int(data[cols].count())
    split = int(split_value*t)
    r = random.sample(range(0,t ), t)
    
    i = 0
    train_dataL = []
    test_dataL = []
    while(i<split):
        train_dataL.append(list(data.iloc[r[i]]))
        i += 1
    i = split
    while(i<t):
        test_dataL.append(list(data.iloc[r[i]]))
        i += 1
    train_data = pd.DataFrame(train_dataL)
    test_data = pd.DataFrame(test_dataL)
    return train_data, test_data,train_dataL, test_dataL

In [ ]:
train, test, train_dataL, test_dataL = train_test_split(data) 
train = train.rename(columns = {0:"sepal_length",1:"sepal_width",2:"petal_length",3:"petal_width",4:"type"})
test = test.rename(columns = {0:"sepal_length",1:"sepal_width",2:"petal_length",3:"petal_width",4:"type"})

In [ ]:
train.head()

   sepal_length  sepal_width  petal_length  petal_width             type
0           6.7          3.1           4.7          1.5  Iris-versicolor
1           5.7          2.8           4.1          1.3  Iris-versicolor
2           5.9          3.0           4.2          1.5  Iris-versicolor
3           5.8          2.7           5.1          1.9   Iris-virginica
4           5.5          2.5           4.0          1.3  Iris-versicolor

In [ ]:
test.head()

   sepal_length  sepal_width  petal_length  petal_width             type
0           6.5          2.8           4.6          1.5  Iris-versicolor
1           6.2          3.4           5.4          2.3   Iris-virginica
2           4.6          3.1           1.5          0.2      Iris-setosa
3           5.7          2.9           4.2          1.3  Iris-versicolor
4           4.3          3.0           1.1          0.1      Iris-setosa

In [ ]:
# Finding distance between two points 

def cal_dist(data1, data2, M):
    dist = 0 
    
    if M == "euclidean distance":
        for i in range(len(data1)-1):
            dist = dist +  np.square(data1[i] - data2[i])
        return np.sqrt(dist)
   
    elif M == "normalized euclidean":
        for i in range(len(data1)-1):
            dist = dist +  np.square(data1[i] - data2[i])
        return np.sqrt(dist//len(data1))
    
    elif M == "cosine similarity":
        c = np.dot(data1, data2) / (np.linalg.norm(data1) * np.linalg.norm(data2) )
        return (1-c) 
    
    elif M == "Manhattan Distance":
        for i in range(len(data1)-1):
            dist = dist + (data1[i] - data2[i])
        return dist

In [ ]:
def knn(train_x, train_y, test, distf, k):
    pred = []
    
    for i in test:
        dis = []
        for j,c in zip(train_x, train_y):
            d = cal_dist(i,j,distf)
            dis.append([d,c])
        dis.sort()
        c = {}
        for l in range(k):
            if dis[l][1] not in c:
                c[dis[l][1]] = 0
            c[dis[l][1]] += 1
        m = -1
        pre = ""
        
        for i in c:
            if c[i]>m:
                m = c[i]
                pre = i
        pred.append(pre)
    
    return pred

In [ ]:
_,_,train, test = train_test_split(data)

In [ ]:
x_train = []
y_train = []
x_test = []
y_test = []

for i in train:
    x_train.append(i[:-1])
    y_train.append(i[-1])
    
for i in test:
    x_test.append(i[:-1])
    y_test.append(i[-1])

In [ ]:
# Euclidean Distance 

for k in range(1,16):
    a_a = []
    predictions = knn(x_train, y_train, x_test, "euclidean distance",k)
    correct = 0
    for i, j in zip(predictions, y_test):
        if i==j:
            correct+=1
    a_a.append(correct/len(predictions))
    print("Accuracy when K is",k,":" , correct/len(predictions)*100)

Accuracy when K is 1 : 100.0
Accuracy when K is 2 : 100.0
Accuracy when K is 3 : 100.0
Accuracy when K is 4 : 100.0
Accuracy when K is 5 : 100.0
Accuracy when K is 6 : 100.0
Accuracy when K is 7 : 97.77777777777777
Accuracy when K is 8 : 100.0
Accuracy when K is 9 : 97.77777777777777
Accuracy when K is 10 : 100.0
Accuracy when K is 11 : 97.77777777777777
Accuracy when K is 12 : 97.77777777777777
Accuracy when K is 13 : 97.77777777777777
Accuracy when K is 14 : 97.77777777777777
Accuracy when K is 15 : 97.77777777777777

In [ ]:
# Normalized Eculidean Distance 

for k in range(1,16):
    a_b = []
    predictions = knn(x_train, y_train, x_test, "normalized euclidean",k)
    correct = 0
    for i, j in zip(predictions, y_test):
        if i==j:
            correct+=1
    a_b.append(correct/len(predictions))
    print("Accuracy when K is",k,":" , correct/len(predictions)*100)

Accuracy when K is 1 : 60.0
Accuracy when K is 2 : 60.0
Accuracy when K is 3 : 64.44444444444444
Accuracy when K is 4 : 64.44444444444444
Accuracy when K is 5 : 64.44444444444444
Accuracy when K is 6 : 64.44444444444444
Accuracy when K is 7 : 66.66666666666666
Accuracy when K is 8 : 66.66666666666666
Accuracy when K is 9 : 66.66666666666666
Accuracy when K is 10 : 66.66666666666666
Accuracy when K is 11 : 66.66666666666666
Accuracy when K is 12 : 66.66666666666666
Accuracy when K is 13 : 68.88888888888889
Accuracy when K is 14 : 68.88888888888889
Accuracy when K is 15 : 68.88888888888889

In [ ]:
# Cosine Similarity 

for k in range(1,16):
    a_c = []
    predictions = knn(x_train, y_train, x_test, "cosine similarity",k)
    correct = 0
    for i, j in zip(predictions, y_test):
        if i==j:
            correct+=1
    a_c.append(correct/len(predictions))
    print("Accuracy when K is",k,":" , correct/len(predictions)*100)

Accuracy when K is 1 : 93.33333333333333
Accuracy when K is 2 : 93.33333333333333
Accuracy when K is 3 : 100.0
Accuracy when K is 4 : 100.0
Accuracy when K is 5 : 100.0
Accuracy when K is 6 : 100.0
Accuracy when K is 7 : 100.0
Accuracy when K is 8 : 100.0
Accuracy when K is 9 : 100.0
Accuracy when K is 10 : 97.77777777777777
Accuracy when K is 11 : 97.77777777777777
Accuracy when K is 12 : 97.77777777777777
Accuracy when K is 13 : 100.0
Accuracy when K is 14 : 100.0
Accuracy when K is 15 : 100.0

In [ ]:
# Manhattan Distance 

for k in range(1,16):
    a_d = []
    predictions = knn(x_train, y_train, x_test, "Manhattan Distance" ,k)
    correct = 0
    for i, j in zip(predictions, y_test):
        if i==j:
            correct+=1
    a_d.append(correct/len(predictions))
    print("Accuracy when K is",k,":" , correct/len(predictions)*100)

Accuracy when K is 1 : 37.77777777777778
Accuracy when K is 2 : 37.77777777777778
Accuracy when K is 3 : 37.77777777777778
Accuracy when K is 4 : 37.77777777777778
Accuracy when K is 5 : 37.77777777777778
Accuracy when K is 6 : 37.77777777777778
Accuracy when K is 7 : 37.77777777777778
Accuracy when K is 8 : 37.77777777777778
Accuracy when K is 9 : 37.77777777777778
Accuracy when K is 10 : 37.77777777777778
Accuracy when K is 11 : 37.77777777777778
Accuracy when K is 12 : 37.77777777777778
Accuracy when K is 13 : 37.77777777777778
Accuracy when K is 14 : 37.77777777777778
Accuracy when K is 15 : 37.77777777777778